$base-color: #000;
$base-font-family: 'Montserrat', sans-serif;
$base-font-weight: 300;
//$base-font-size: 0.9375vw; //18px
$base-font-size: 16px;
$base-font-size-mobile: 14px;
$base-line-height: 1.3;
$base-font-color: #fff;
// $base-theme-color: #230d23;
$base-grey-color: #868484;
$base-light-grey: #F8F8F8;
$website-brand-color: #e52991;
$website-brand-color-2: #6EBEEA;
$border-color: #e6e6e6;
$sucess-color: #7ADD92;

//HEADER VARIABLES
$header-height: 130px;

// BUTTONS VARIABLES
$button-font-size: $base-font-size;
$button-height: 95px;

//FIELD VARIABLES
$field-height: 50px;
