$base-color: #000;
$base-font-family: 'Plus Jakarta Sans', sans-serif;
$base-font-weight: 300;
$base-font-size: 0.9375vw;  //18px
$base-font-size-mobile: 16px;
$base-line-height: 1.3;
$base-font-color: #000000;
// $base-theme-color: #230d23;
$base-grey-color: #868484;
$base-light-grey: #F8F8F8;
$base-light-color: #F8F8F8;
$brand-color: #F7941D;
$brand-color-2: #008A4B;
$brand-color-3: #2C2E75;
$brand-color-4: #0075BC;
$border-color: #EEEEEE;
$sucess-color: #7ADD92;

//HEADER VARIABLES
$header-height: 130px;

// BUTTONS VARIABLES
$button-font-size: $base-font-size;
$button-height: 95px;

//FIELD VARIABLES
$field-height: 50px;
