.addborders {
    border: solid 1px $border-color;
}
.add_border_bottom {
    border-bottom: solid 1px $border-color;
}
.add_border_top {
    border-top: solid 1px $border-color;
}
.add_border_left {
    border-left: solid 1px $border-color;
}
.add_border_right {
    border-right: solid 1px $border-color;
}
