.new_breadcrumb {
    @include flexbox();
    @include justify-content(end);
    color: $base-light-color;
    list-style: none;

    li {
        padding: 0 1.5625vw; //20px
        list-style: unset;
        padding-bottom: 2px;
        position: relative;

        a {
            color: $base-light-color;
        }

        &:not(:last-child) {
            text-decoration: underline;

            &::after {
                content: '';
                width: 10px;
                height: 10px;
                background-color: $base-light-color;
                right: -0.78125vw;      //15px
                top: 0.3645833333333333vw;  //7px
                position: absolute;
                border-radius: 50px;
            }
        }
    }

    @media screen and (min-width: 1920.98px) {
        li {
            margin-left: 25px;
        }
    }
}