::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar:horizontal {
    height: 5px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
    box-shadow: none
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal{
    background-color: $website-brand-color;
    outline: none;
}