.sidebar_sticky {
    &_wrapper {
        display: flex;
        align-items: flex-start;
    }

    &_left {
        width: 28.125vw; //540px;
        padding-right: 2.604166666666667vw; //50px
        position: sticky;
        top: 10.416666666666668vw;  //20px
    }

    &_right {
        width: calc(100% - 25.520833333333332vw);   //490px
        padding-left: 2.604166666666667vw; //50px
        border-left: solid 1px $border-color;

        .country_initiative_topic_wrapper {
            margin-bottom: 6.25vw; //120px

            &:last-child {
                margin-bottom: 0;
            }
        }

        .col_6 {
            margin-bottom: 2.083333333333333vw; //40px
        }

        h2 {
            padding-bottom: 1.0416666666666665vw; //20px;
            border-bottom: solid 1px $brand-color;
            margin-bottom: 3.125vw; //60px
        }
    }
}

.vertical_tabs {
    li {
        a {
            padding: 1.0416666666666665vw; //30px 20px;
            color: $base-font-color;
            display: flex;
            align-items: center;
            font-size: 1.25vw; //24px
            font-weight: 700;
            justify-content: space-between;

            span {
                width: calc(100% - 20px);
            }

            i {
                font-size: 12px;
            }

            &.active {
                background-color: $brand-color-4;
                color: $base-light-color;
            }
        }
    }
}

@media screen and (min-width: 1920.98px) {
    .sidebar_sticky {

        &_left {
            width: 540px;
            padding-right: 50px;
            top: 200px;
        }

        &_right {
            width: calc(100% - 490px);
            padding-left: 50px;

            .country_initiative_topic_wrapper {
                margin-bottom: 120px;
            }

            .col_6 {
                margin-bottom: 40px;
            }

            h2 {
                padding-bottom: 20px;
                margin-bottom: 60px;
            }
        }
    }

    .vertical_tabs {
        li {
            a {
                padding: 30px 20px;
                font-size: 24px;
            }
        }
    }
}