/////////////////////////////////////////////
///////////////HISTORY OF GIP///////////////
////////////////////////////////////////////

.history_gip_section {

    .history_gip_image {
        @include border-radius(1.5625vw);
        margin-bottom: 1.5625vw;
    }
}

.gip_section {
    overflow: hidden;
    padding: 6.25vw 0;
    margin-top: 5.208333333333334vw;
    position: relative;
    z-index: 1;

    .container_fluid {

        &::before,
        &::after {
            content: '';
            background: url('../images/lotus-2.webp') no-repeat;
            background-size: 100%;
            width: 41.66666666666667vw;
            height: 41.66666666666667vw;
            position: absolute;
            right: -20.833333333333336vw;
            top: -20.833333333333336vw;
        }

        &::after {
            right: auto;
            left: -20.833333333333336vw;
            top: auto;
            bottom: -20.833333333333336vw;
        }

        .flex_row {
            position: relative;
            z-index: 1;
        }
    }

    .gip_highlight_box {
        border: solid 1px rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.05);
        padding: 1.5625vw;
        @include border-radius(1.5625vw);
        position: relative;
        margin-bottom: 1.5625vw;

        span {
            position: absolute;
            color: rgba(247, 148, 29, 0.1);
            font-size: 10.416666666666668vw;
            left: 0;
            top: 0;
            line-height: 0.8;
            font-weight: 700;
        }
    }
}

.gip_pillars {

    &_row {
        display: flex;
        max-width: 100%;
        width: 100%;
        margin-left: -1.0416666666666665vw; //20px
        margin-right: -1.0416666666666665vw; //20px
    }

    &_col {
        flex: 0 0 auto;
        width: 20%;
        padding-left: 1.0416666666666665vw; //20px
        padding-right: 1.0416666666666665vw; //20px
    }

    &_cards {
        padding: 3.125vw 2.604166666666667vw;
        overflow: hidden;
        position: relative;
        @include border-radius(1.5625vw);
        height: 100%;

        &::before {
            content: '';
            width: 14.583333333333334vw;
            height: 14.583333333333334vw;
            background-color: $brand-color;
            filter: blur(10.416666666666668vw);
            position: absolute;
            top: -3.125vw;
            left: -3.125vw;
        }

        h5 {
            margin-bottom: 1.0416666666666665vw;
        }

        &.pillar_card_1 {
            h5 {
                color: $brand-color;
            }
        }

        &.pillar_card_2 {
            &::before {
                background-color: $brand-color-3;
            }

            h5 {
                color: $brand-color-3;
            }
        }

        &.pillar_card_3 {

            &::before {
                background-color: $brand-color-2;
            }

            h5 {
                color: $brand-color-2;
            }
        }

        &.pillar_card_4 {

            &::before {
                background-color: $brand-color-4;
            }

            h5 {
                color: $brand-color-4;
            }
        }

        &.pillar_card_5 {
            &::before {
                background-color: #32BBFF;
            }

            h5 {
                color: #32BBFF;
            }
        }
    }
}

.nodal_institution_logos {
    margin-top: 3.125vw;
}

.more_about_gip {
    background-color: $base_light_grey;
    padding-bottom: 6.25vw;
    margin-top: 6.25vw;
    position: relative;
    z-index: 1;

    h2 {
        text-align: center;
    }

    &_links {
        margin-top: 4.166666666666666vw; //80px
        text-align: center;

        .link_1,
        .link_2,
        .link_3 {
            display: inline-block;
            font-size: 1.6666666666666667vw; //32px
            font-weight: 700;
            padding: 1.5625vw 2.604166666666667vw; //30px 50px
            background-color: $brand-color;
            @include border-radius(1.0416666666666665vw); //20px
            color: $base-light-color;
        }

        .link_2 {
            background-color: $brand-color-3;
            margin: 0 5.208333333333334vw; //100px
        }

        .link_3 {
            background-color: $brand-color-2;
        }
    }
}



/////////////////////////////////////////////
//////////////DELHI DECLARATION//////////////
////////////////////////////////////////////

.first_section_heading {
    h2 {
        text-align: center;
        margin-bottom: 3.125vw;     //60px
    }
}