.dashboard {
    &_walkthrough {
        .inner_banner {
            margin-top: 0;
        }
    }
    &_user_actions {
        display: flex;
        justify-content: flex-end;
        img {
            width: 17.1875vw;
        }
    }

    &_country_flag {
        display: flex;
        justify-content: center;

        img {
            width: 6.25vw;
        }
    }
    &_login_screen {
        display: flex;
        justify-content: center;
        img {
            width: 47.91666666666667vw;
        }
    }
}