.dashboard {
    &_walkthrough {
        overflow: hidden;
        .inner_banner {
            margin-top: 0;
        }
    }

    &_user_actions {
        display: flex;
        justify-content: flex-end;

        img {
            width: 17.1875vw;
        }
    }

    &_country_flag {
        display: flex;
        justify-content: center;

        img {
            width: 6.25vw;
        }
    }

    &_login_screen {
        display: flex;
        justify-content: center;

        img {
            width: 47.91666666666667vw;
        }
    }
}

.back_to_home {
    padding-top: 1.5625vw;

    i {
        margin-right: 0.5208333333333333vw;
    }
}

@media screen and (min-width: 1920.98px) {
    .dashboard {
        &_user_actions {

            img {
                width: 330px;
            }
        }

        &_country_flag {

            img {
                width: 120px;
            }
        }

        &_login_screen {

            img {
                width: 920px;
            }
        }
    }

    .back_to_home {
        padding-top: 30px;

        i {
            margin-right: 10px;
        }
    }
}