*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
footer 
{
    width:100%;
    height:582px;
    background-image:
            linear-gradient(45deg,
              rgba(245,70,66, 0.75),
              rgba(8,83,156, 0.75)), url(
'../../images/footer/footerbg.png');
}
