.footer_top {
    margin-top: 6.25vw;
}

footer {
    position: relative;
    padding: 0 2.604166666666667vw 2.604166666666667vw;

    &::before,
    &::after {
        content: '';
        background: url('../images/lotus-texture.svg') no-repeat;
        background-size: cover;
        width: 10.416666666666668vw;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &::after {
        @include scale(-1);
        left: auto;
        right: 0;
    }

    .footer_logo {
        height: 4.166666666666666vw; //80px

    }

    .footer_links {
        h5 {
            margin-bottom: 1.5625vw; //30px
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 1.0416666666666665vw; //20px
                display: block;

                a {
                    color: $base-font-color;
                }
            }
        }
    }
}

.bottom_footer {
    background-color: #EEEEEE;
    padding: 1.3020833333333335vw 2.604166666666667vw; //25px 0
    // margin-top: 2.604166666666667vw;

    p {
        margin-bottom: 0;

        a {
            color: $base-font-color;
            padding: 0 0.5208333333333333vw;
        }
    }
}

@media screen and (min-width: 1920.98px) {
    .footer_top {
        margin-top: 120px;
    }

    footer {
        padding-bottom: 0 50px 50px;

        .footer_logo {
            height: 80px;
        }

        .footer_links {
            h5 {
                margin-bottom: 30px;
            }
        }
    }

    .bottom_footer {
        padding: 25px 50px;
        margin-top: 50px;

        p {
            a {
                padding: 0 10px;
            }
        }
    }
}


@media screen and (max-width: 991.98px) {
    footer {
        padding: 20px 30px;

        .flex_row {
            .col_2 {
                flex: 0 0 auto;
                width: 33.33333333%;
                margin-bottom: 30px;
            }
        }

        .footer_links {
            br {
                display: none;
            }
        }
    }

    .bottom_footer {
        padding: 20px 30px;

        .flex_row {
            .col_9 {
                margin-bottom: 10px;
            }

            .col_9,
            .col_3 {
                flex: 0 0 auto;
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    footer {
        padding: 20px 20px;

        &::before,
        &::after {
            width: 40.416667vw;
            background-position: right;
        }

        .flex_row {
            .col_2 {
                flex: 0 0 auto;
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}