.footer_top {
    margin-top: 6.25vw;
}
footer {

    .footer_logo {
        height: 4.166666666666666vw; //80px
   
    }

    .footer_links {
        h5 {
            margin-bottom: 1.5625vw; //30px
       
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 1.0416666666666665vw; //20px
                display: block;

                a {
                    color: $base-font-color;
                }
            }
        }
    }
}

.bottom_footer {
    background-color: #EEEEEE;
    padding: 1.3020833333333335vw 0; //25px 0
    margin-top: 2.604166666666667vw;

    p {
        margin-bottom: 0;

        a {
            color: $base-font-color;
            padding: 0 0.5208333333333333vw;
        }
    }
}

@media screen and (min-width: 1920.98px) {
    .footer_top {
        margin-top: 120px;
    }
    footer {

        .footer_logo {
            height: 80px;
        }

        .footer_links {
            h5 {
                margin-bottom: 30px;
            }
        }
    }

    .bottom_footer {
        padding: 25px 0;
        margin-top: 50px;

        p {
            a {
                padding: 0 10px;
            }
        }
    }
}

.container {
    width: 100%;
    max-width: 1600px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 64px;
}

.row {
    display: flex;
}

.col-1 {
    width: 15%;
}

.col-2 {
    width: 18%;
}

.col-3 {
    width: 27%;
}

.footer_lgo {
    width: 141.38px;
    height: 78px;
}

.footer_logo_discription {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin-bottom: 0px;
}

.footer_lnks_heading {
    //styleName: H3;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 18px;
    color: #000;
}

.footer_lnks {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    padding-left: 18px;
    text-decoration: none;
}

.footr_lnks_ul {
    margin-top: 30px;
}

li {
    text-decoration: none;
    list-style: none;
}

ul {
    text-decoration: none;
}

.col-7 {
    width: 70%;
}

.bootom_footer_lnk {
    //styleName: Body Font;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.bottom_footer_container {
    background-color: #EEEEEE;
    padding-left: 18px;
    padding-right: 18px;
    padding: 18px;
    height: 65px;
}

.bottom_lnk {
    color: #000;
    padding-bottom: 0px;
}

.dscrptn_bottom_footer {
    //styleName: Body Font;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.col-11 {
    width: 157%;
}

.footer_top {
    background: linear-gradient(90deg, #E97F00 0%, #327C34 99.24%);
    height: 8px;
}
