header {
    .header {
        &_topbar {
            width: 100%;
            padding: 0.5208333333333333vw 0;

            @include horizontal-gradient($brand-color, $brand-color-2);

            font-size: 0.7291666666666666vw; //14px
            color: $base-light-color;
            font-weight: 700;
        }

        &_top_content {
            @include flexbox;
            @include justify-content(flex-end);
            @include align-items(center);

            .website_font_size {
                margin-left: 1.5625vw; //30px
                span {
                    padding: 0.4166666666666667vw 0.5208333333333333vw; //8px 10px
                    @include border-radius(5px);

                    cursor: pointer;

                    &.font_size_selected {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }

            .date_time {
                span {
                    padding: 0 0.5208333333333333vw;
                }
            }

            .website_language,
            .dashoard_cta {
                background-color: rgba(255, 255, 255, 0.1);
                padding: 0.4166666666666667vw; //8px
                @include border-radius(5px);

                margin-left: 1.5625vw; //30px
           
            }

            .website_language {
                display: flex;
                align-items: center;

                img {
                    margin-right: 0.5208333333333333vw; //10px;
               
                }
            }

            .dashoard_cta {
                background-color: $base-light-color;
                color: $base-font-color;
            }
        }
    }
}

.navbar {
    padding: 0.5208333333333333vw 0;

    @include flexbox;
    @include align-items(center);

    &_brand {
        img {
            height: 4.427083333333334vw; //85px;
       
        }
    }

    .menu_toggle {
        display: none;
    }

    &_nav {
        @include flexbox;

        font-size: 0.7291666666666666vw; //14px;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: auto;
        position: relative;

        .nav_item {
            margin-right: 1.5625vw; //30px

            a {
                color: $base-font-color;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        & > li {
            padding: 1.7708333333333333vw 0;

            &.sub_menu {
                li {
                    a {
                        padding: 1.0416666666666665vw;
                        display: block;
                        border-bottom: solid 1px $border-color;
                        display: flex;
                        justify-content: space-between;
                    }
                }

                ul {
                    display: none;
                    position: absolute;
                    z-index: 10;
                    background: #fff;
                    top: 100%;
                }

                & > a {
                    &::after {
                        font-family: 'icomoon' !important;
                        content: "\e902";

                        @include rotate(90);

                        display: inline-block;
                    }
                }

                &:hover {
                    & > a {
                        color: $brand-color-4;
                    }

                    & > ul {
                        display: block;
                    }
                }

                .sub_menu {
                    & > a {
                        &::after {
                            font-family: 'icomoon' !important;
                            content: "\e902";
                            display: inline-block;
                        }
                    }

                    ul {
                        left: 100%;
                        top: 0;
                        width: max-content;
                    }

                    &:hover {
                        & > a {
                            color: $brand-color-4;
                        }

                        & > ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1920.98px) {
    .header {
        &_topbar {
            padding: 10px 0;
        }

        &_top_content {
            .website_font_size {
                margin-left: 30px;

                span {
                    padding: 8px 10px;
                }
            }

            .website_language,
            .dashoard_cta {
                padding: 8px;
                margin-left: 30px;
            }

            .website_language {
                img {
                    margin-right: 10px;
                }
            }
        }
    }

    .navbar {
        padding: 10px 0;

        &_brand {
            img {
                height: 85px;
            }
        }

        &_nav {
            font-size: 14px;

            .nav_item {
                margin-right: 30px;
            }

            & > li {
                padding: 20px 0;

                &.sub_menu {
                    li {
                        a {
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    header {
        .header {
            &_topbar {
                font-size: 12px;
                padding: 10px 0;
            }

            &_top_content {
                // display: block;
                // text-align: center;
                justify-content: space-between;

                .website_font_size {
                    margin-left: 0;

                    span {
                        padding: 5px 10px;
                        display: inline-block;
                    }
                }

                .dashoard_cta {
                    padding: 5px 10px;
                    margin-left: 0;
                    display: none;
                }
            }
        }
    }

    .navbar {
        padding: 10px 0;

        &_brand {
            img {
                height: 30px;
            }
        }

        &_nav {
            display: none;
            font-size: 16px;
            position: absolute;
            width: 100%;
            background: $base-light-color;
            top: 103px;
            z-index: 10;
            left: 0;
            font-size: 14px;

            @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.2));

            .nav_item > a {
                padding: 20px;
                display: flex;
                justify-content: space-between;
            }

            & > li {
                padding: 0;

                &.sub_menu {
                    li {
                        a {
                            padding: 20px;
                        }
                    }

                    & > ul {
                        position: relative;

                        & > li > a {
                            padding-left: 30px;
                        }
                    }

                    .sub_menu {
                        ul {
                            position: relative;
                            left: 0;

                            li {
                                a {
                                    padding-left: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .menu_toggle {
            margin-left: auto;
            margin-right: 20px;
            display: block;
        }
    }
}
