header {
    .header {
        &_topbar {
            width: 100%;
            padding: 0.5208333333333333vw 0;

            @include horizontal-gradient($brand-color, $brand-color-2);

            font-size: 0.7291666666666666vw; //14px
            color: $base-light-color;
            font-weight: 700;
        }

        &_top_content {
            @include flexbox;
            @include justify-content(flex-end);
            @include align-items(center);

            .font_size,
            .website_language,
            .dashoard_cta {
                background-color: rgba(255, 255, 255, 0.1);
                padding: 0.4166666666666667vw; //8px
                @include border-radius(5px);

                margin-left: 1.5625vw; //30px
           
            }

            .website_language {
                display: flex;
                align-items: center;

                img {
                    margin-right: 0.5208333333333333vw; //10px;
               
                }
            }

            .dashoard_cta {
                background-color: $base-light-color;
                color: $base-font-color;
            }
        }
    }
}

.navbar {
    padding: 0.5208333333333333vw 0;

    @include flexbox;
    @include align-items(center);

    &_brand {
        img {
            height: 4.427083333333334vw; //85px;
       
        }
    }

    &_nav {
        @include flexbox;

        font-size: 0.7291666666666666vw; //14px;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: auto;

        .nav_item {
            margin-right: 1.5625vw; //30px

            a {
                color: $base-font-color;
            }
        }
    }
}

@media screen and (min-width: 1920.98px) {
    .header {
        &_topbar {
            padding: 10px 0;
        }

        &_top_content {
            .font_size,
            .website_language,
            .dashoard_cta {
                padding: 8px;
                margin-left: 30px;
            }

            .website_language {
                img {
                    margin-right: 10px;
                }
            }
        }
    }

    .navbar {
        padding: 10px 0;

        &_brand {
            img {
                height: 85px;
            }
        }

        &_nav {
            font-size: 14px;

            .nav_item {
                margin-right: 30px;
            }
        }
    }
}
