* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-color;
    font-weight: $base-font-weight;
}

ul {
    list-style: none;
}

.overflow_wrapper {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $brand-color-4;
}

p {
    margin-bottom: 1.5625vw; //30px
}

.text-muted {
    color: $base-grey-color !important;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.container_fluid {
    width: 100%;

    // max-width: 1600px;
    padding-left: 6.25vw; //120px
    padding-right: 6.25vw; //120px
    margin: 0 auto;
}

.flex_row {
    @include flexbox;
    @include flex-wrap(wrap);
    width: 100%;
    max-width: 100%;

    margin-left: -1.0416666666666665vw; //20px
    margin-right: -1.0416666666666665vw; //20px

    .col,
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
        padding-left: 1.0416666666666665vw; //20px
        padding-right: 1.0416666666666665vw; //20px

    }

    .col {
        flex: 1 0 0%;
    }

    .col_1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col_2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col_3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col_4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col_5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col_6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col_7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col_8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col_9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col_10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col_11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col_12 {
        flex: 0 0 auto;
        width: 100%;
    }

    @media screen and (max-width: 767.98px) {

        .col_1,
        .col_2,
        .col_3,
        .col_4,
        .col_5,
        .col_6,
        .col_7,
        .col_8,
        .col_9,
        .col_10,
        .col_11 {
            width: 100%;
        }
    }
}

.overflow_hidden {
    overflow: hidden;
}

p {
    line-height: 1.6;

    span {
        color: $brand-color;
    }
}

h1 {
    font-size: 3.6458333333333335vw; //70px
    font-weight: 700;
}

h2 {
    font-size: 2.083333333333333vw; //40px
    font-weight: 700;
}

h3 {
    font-size: 2.083333333333333vw; //40px
    font-weight: 700;
}

h4 {
    font-size: 1.6666666666666667vw; //32px
    font-weight: 700;
    line-height: 1.2;
}

h5 {
    font-size: 1.25vw; //24px
    font-weight: 700;
}

h6 {
    font-size: 1.4583333333333333vw; //28px
    font-weight: 700;
}

.pt_0 {
    padding-top: 0;
}

.pb_120 {
    padding-bottom: 3.25vw;
}

.mt_0 {
    margin-top: 0 !important;
}

.mb_30 {
    margin-bottom: 1.5625vw; //30px
}

.mb_60 {
    margin-bottom: 3.125vw; //60px
}


.section_heading {
    text-align: center;
}

.common_spacing {
    padding-top: 6.25vw; //120px
    //padding-bottom: 6.25vw; //120px
}

.transition {
    @include transition(all, 0.5s);
}

.middle_align {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
}

.d_flex {
    display: flex;
}

.justify_content_center {
    @include justify-content(center);
}

.align_item_center {
    @include align-items(center);
}

.gradient_container {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: -5.989583333333334vw; //115px
        top: 2.604166666666667vw; //50px
        width: 26.041666666666668vw; //500px
        height: 26.041666666666668vw; //500px
        background-color: $brand-color;
        border-radius: 100%;
        filter: blur(200px);
    }

    &::before {
        left: auto;
        top: auto;
        bottom: -2.604166666666667vw; //50px
        right: -5.989583333333334vw; //115px
        background-color: $brand-color-2;
    }

    .container_fluid {
        position: relative;
        z-index: 1;
    }
}

.round_shape {
    @include border-radius(1.5625vw); //30px
}

.right_top_lotus {
    &::before {
        content: '';
        background: url('../images/lotus-vector-green.svg') no-repeat;
        background-size: 100%;
        width: 8.5vw;
        height: 8.5vw;
        position: absolute;
        right: 0;
        top: -5vw;
        opacity: 0.2;
    }
}

.pdf_document {
    margin-top: 1.0416666666666665vw; //20px

    a {
        display: flex;
        align-items: center;
        font-weight: 700;
        // background-color: $base-light-grey;
        // padding: 1.0416666666666665vw;
        border-radius: 5px;

        img {
            height: 2.083333333333333vw; //40px
            margin-right: 10px;
        }
    }
}

.list {
    padding-left: 0;
    list-style: none;

    li {
        display: block;
        position: relative;
        padding-left: 1.5625vw; //30px

        &:not(:last-child) {
            margin-bottom: 1.5625vw; //15px
        }

        &::before {
            font-family: 'icomoon' !important;
            content: "\e901";
            font-size: 0.5208333333333333vw;
            color: $base-light-color;
            width: 1.0416666666666665vw; //20px
            height: 1.0416666666666665vw; //20px
            background-color: $base-font-color;
            @include border-radius(50px);
            @extend .middle_align;
            position: absolute;
            left: 0;
            top: 3px;
        }
    }
}

.play_icon {
    width: 5.208333333333334vw; //100px
    height: 5.208333333333334vw; //100px

    @extend .middle_align;

    background: $brand-color-4;

    @include border-radius(100px);

    color: $base-light-color;
    font-size: 1.1458333333333333vw; //22px
    position: absolute;
    right: 30px;
    bottom: -2.604166666666667vw;
    margin-left: -2.604166666666667vw; //50px
    margin-top: -2.604166666666667vw; //50px
    cursor: pointer;

    &::after {
        opacity: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -8px;
        left: -8px;
        right: 0;
        bottom: 0;
        content: "";
        height: 100%;
        width: 100%;
        border: 8px solid rgba(0, 117, 188, 0.5);
        border-radius: 100%;
        -webkit-animation-name: ripple;
        animation-name: ripple;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
        animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
        z-index: 1;
    }

    &::before {
        opacity: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -8px;
        left: -8px;
        right: 0;
        bottom: 0;
        content: "";
        height: 100%;
        width: 100%;
        border: 8px solid rgba(0, 117, 188, 0.5);
        border-radius: 100%;
        -webkit-animation-name: ripple;
        animation-name: ripple;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
        animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
        z-index: 1;
    }

    @-webkit-keyframes ripple {
        from {
            opacity: 1;
            transform: scale3d(0.75, 0.75, 1);
        }

        to {
            opacity: 0;
            transform: scale3d(1.5, 1.5, 1);
        }
    }

    @keyframes ripple {
        from {
            opacity: 1;
            transform: scale3d(0.75, 0.75, 1);
        }

        to {
            opacity: 0;
            transform: scale3d(1.5, 1.5, 1);
        }
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes reverse-spin {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes reverse-spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes reverse-spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@media screen and (min-width: 1920.98px) {
    body {
        font-size: 18px;
    }

    .container_fluid {
        width: 100%;
        max-width: 1920px;
        padding-left: 120px;
        padding-right: 120px;
        margin: 0 auto;
    }

    .flex_row {
        margin-left: 20px;
        margin-right: 20px;

        .col,
        .col_1,
        .col_2,
        .col_3,
        .col_4,
        .col_5,
        .col_6,
        .col_7,
        .col_8,
        .col_9,
        .col_10,
        .col_11,
        .col_12 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    h1 {
        font-size: 70px;
        font-weight: 700;
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
    }

    h3 {
        font-size: 40px;
        font-weight: 700;
    }

    h4 {
        font-size: 32px;
        font-weight: 700;
    }

    h5 {
        font-size: 24px;
        font-weight: 700;
    }

    h6 {
        font-size: 28px;
        font-weight: 500;
    }

    .gradient_container {

        &::before,
        &::after {
            left: 115px;
            top: 50px;
            width: 500px;
            height: 500px;
            filter: blur(200px);
        }

        &::before {
            bottom: 50px;
            right: 115px;
        }
    }

    .play_icon {
        width: 100px;
        height: 100px;
        font-size: 22px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .right_top_lotus {
        &::before {
            width: 163px;
            top: -80px;
        }
    }

    .pdf_document {
        margin-top: 20px;

        a {
            padding: 1.0416666666666665vw;

            img {
                height: 40px;
            }
        }
    }

    .web_link {}

    .pb_120 {
        padding-bottom: 120PX;
    }

    .mb_30 {
        margin-bottom: 30px
    }

    .mb_60 {
        margin-bottom: 60px
    }
}

@media screen and (max-width: 1400px) {
    .container_fluid {
        padding-left: 2.6041666667vw;
        padding-right: 2.6041666667vw;
    }
}

@media screen and (max-width: 991.98px) {
    body {
        font-size: $base-font-size-mobile;
    }

    .play_icon {
        width: 50px;
        height: 50px;
        font-size: 16px;
        margin-left: -25px;
        margin-top: -25px;
    }

    .common_spacing {
        padding-top: 50px;
    }

    .container_fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    p {
        margin-bottom: 15px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 20px;
    }

    .list {

        li {
            padding-left: 30px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            &::before {
                font-size: 5px;
                width: 20px;
                height: 20px;
            }
        }
    }
    .pdf_document {
        margin-top: 20px;
        a img {
            height: 30px;
        }
    }
}

@media screen and (max-width: 767.98px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 18px;
    }
}