.delhi_declrtion
{
   /* font-family: Plus Jakarta Sans;
font-size: 30px;
font-style: italic;
font-weight: 700;
line-height: 55px;
letter-spacing: 0em;*/
text-align: right;
padding-top: 50px;
}
.discription_delhi_declaration {
    .flex_row
    {
        padding-top: 2.0416666667vw;
        padding-bottom:5.5338541667vw;
    }
}
.top_discription_box_delhi_declrtn {
    background-image: url(../images/aboutpage/lotus.webp);
    background-repeat: no-repeat;
    background-position: 43% 2px;
    height: 9.533854vw;
    background-size: 9.421875vw;
    position: relative;
    z-index: -1;
    width: 23.1199vw;
}
