.timeline_section {
    background-color: #FCEFDF;

    h2 {
        text-align: center;
        margin-bottom: 6.25vw;
    }
}

.country_timeline {
    &_image {
        position: sticky;
        top: 10vw;
    }

    &_wrapper {
        display: flex;

        h6 {
            position: relative;
            display: inline-block;
            margin-bottom: 1.0416666666666665vw;

            &::before {
                content: '';
                height: 0.26041666666666663vw;
                width: 50%;
                background-color: $brand-color;
                position: absolute;
                left: 0;
                bottom: -0.5208333333333333vw;
            }
        }

        .country_timeline_content_list {
            li {
                margin-bottom: 15px;
                position: relative;
            }
        }

        .country_timeline_heading {
            position: sticky;
            top: 8vw;
            padding-top: 2vw;
            padding-bottom: 1vw;
            background-color: #FCEFDF;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                width: 1.5625vw;
                height: 1.5625vw;
                right: -3.75vw;
                top: 3.78125vw;
                background-color: $brand-color-3;
                border-radius: 50px;
            }

            p {
                margin-bottom: 0;
            }
        }

        .country_timeline_right {
            .country_timeline_heading {
                &::before {
                    left: -4vw;
                    right: auto;
                }
            }
        }
    }

    &_left {
        flex: 0 0 50%;
        width: 50%;
        padding-right: 3.125vw;
        // text-align: right;
        position: relative;
        padding-bottom: 6.25vw;

        &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            background-color: $brand-color-3;
            top: 0;
            right: 0;
        }

        .country_timeline_content_list {
            li {
                padding-right: 1.8229166666666667vw;

                &::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0.25vw;
                    width: 1.0416666666666665vw;
                    height: 1.0416666666666665vw;
                    border-radius: 50px;
                    background-color: $base-font-color;
                }
            }
        }
    }

    &_right {
        flex: 0 0 50%;
        width: 50%;
        padding-left: 3.125vw;
    }
}


@media screen and (min-width: 1920.98px) {
    .timeline_section {

        h2 {
            margin-bottom: 120px;
        }
    }

    .country_timeline {
        &_image {
            top: 192px;
        }

        &_wrapper {

            h6 {
                margin-bottom: 20px;

                &::before {
                    content: '';
                    height: 5px;
                    bottom: -5px;
                }
            }

            .country_timeline_heading {
                position: sticky;
                top: 153px;
                padding-top: 38px;
                padding-bottom: 20px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: -72px;
                    top: 72px;
                }
            }

            .country_timeline_right {
                .country_timeline_heading {
                    &::before {
                        left: -76px;
                    }
                }
            }
        }

        &_left {
            padding-right: 60px;
            padding-bottom: 120px;

            .country_timeline_content_list {
                li {
                    padding-right: 35px;

                    &::before {
                        top: 5px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        &_right {
            padding-left: 60px;
        }
    }
}

@media screen and (max-width: 991.98px) {
    .presidency_content_first_section {
        .col_6 {
            width: 100%;
        }
    }
    .country_timeline {
        &_image {
            position: static;
            top: auto;
        }
    
        &_wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
    
            h6 {
                margin-bottom: 10px;
    
                &::before {
                    display: none;
                }
            }
    
            .country_timeline_content_list {
                li {
                    margin-bottom: 15px;
                    position: relative;
                }
            }
    
            .country_timeline_heading {
                position: static;
                top: auto;
                padding-top: 0;
                padding-bottom: 30px;
                background-color: transparent;
    
                &::before {
                    display: none;
                }
            }
    
            .country_timeline_right {
                .country_timeline_heading {
                    &::before {
                        left: -4vw;
                        right: auto;
                    }
                }
            }

            &.reverse_column {
                flex-direction: column-reverse;
            }
        }
    
        &_left {
            flex: 0 0 100%;
            width: 100%;
            padding-right: 0;
            padding-bottom: 30px;
    
            &::before {
                display: none;
            }
    
            .country_timeline_content_list {
                li {
                    padding-right: 1.8229166666666667vw;
    
                    &::before {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0.25vw;
                        width: 1.0416666666666665vw;
                        height: 1.0416666666666665vw;
                        border-radius: 50px;
                        background-color: $base-font-color;
                    }
                }
            }
        }
    
        &_right {
            flex: 0 0 100%;
            width: 100%;
            padding-left: 0;
        }
    }
}