.breadcrumb_lnk_india_presidency ul li:nth-child(2)
{
    text-decoration: none;
}
.breadcrumb_lnk_india_presidency ul li:nth-child(1)
{
    text-decoration: underline;
    list-style: none;
}
.breadcrumb_lnk_india_presidency ul li
{
    margin-left: 1.6927083333vw;
    list-style: unset;
    padding-bottom: 2px;
    margin-top: 10px;
}
.breadcrumb_lnk_india_presidency ul 
{
    display: flex;
    color: #fff;
}

    .top_discription_box_delhi_declrtn
    {
        background-image: url(../images/aboutpage/lotus.webp);
    background-repeat: no-repeat;
    background-position: 43% 2px;
    /* height: 9.533854vw; */
    background-size: 9.421875vw;
    position: relative;
    z-index: -1;
    }
    

.second_discrptn_box 
{
    .flex_row
    {
    padding-top:2.0416666667vw
    }
}
.common_spacing_top_btm
    {
        padding-top: 6.25vw;
        padding-bottom: 6.25vw;
    }
.line_bar_Section_Start
{
    background-color:  #FCEFDF;
}
.line_bar_Section_Start
{
    h2
    {
        text-align: center;
    }
    .top_right_image_lotus
    {
        background-image: url('../images/aboutpage/orange_lotus.webp');
        background-position: 100%;
        background-repeat: no-repeat;
        opacity: 0.5;
    background-size: 15.123vw;
    }
    
}
.more_about_gip
{
    a{
        color: #fff;
    }
}
.gradient_container_image_lotus_top
{
    background: url(../images/lotus-2.webp) no-repeat;
    background-position: 50% 1118%;
    background-size: 32.5vw;
    position: relative;
}
.gradient_container_topbar::before
{
    content: "";
    position: absolute;
    left: -5.9895833333vw;
    top: -1.395833vw;
    width: 26.0416666667vw;
    height: 23.041667vw;
    border-radius: 100%;
    background-color: rgba(247,148,29,.4509803922);
    filter: blur(200px);
}
  
//Css New Section Added
.timeline:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:2px;
    top:-20px;
    background:#2c2e75;
    z-index:1;
  }
  .timeline{
    position:relative;
    margin: 50px auto;
    padding:50px 0;
  }
  
  
  .timeline ul{
    margin:0;
    padding:0 ;
  }
  
  .timeline ul li{
    list-style:none;
    box-sizing:border-box; 
    line-height:normal;
    position:relative;
    width:50%;
    padding: 40px 70px;
  }
  .timeline ul li:nth-child(even) .right_content
  {
    position: relative;
    top: -300px;
  }
  .timeline ul li .right_content h2{
    color:rgba(59,112,239,1);
    padding:0px 2px 18px 0px;
  }
  .timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
  }
  
  .timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
    height: 600px;
  }
  
  .left_content{
    padding-bottom:20px;
  }
  
  .timeline ul li:nth-child(odd):before{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
    background:rgba(59,112,239,1);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    right:-6px;
    top:153px;
    z-index:1;
  }
  
  .timeline ul li:nth-child(even):before{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
   background:rgba(59,112,239,1);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    left:-4px;
    top:-118px;
  }
  
  .timeline ul li:nth-child(odd) .left_content{
    position: relative;
    top: -688px;
    right: -645px;
    margin: 0;
    /* padding: 8px 16px; */
    color: #fff;
    /* box-shadow: 0 0 0 3px rgba(59,112,239,.3); */
    border-radius: 18px;
    display: inline-block;
    
  }
  
  .timeline ul li:nth-child(even) .left_content{
    position: relative;
    left: -656px;
    margin: 0;
    padding: 12px -25px;
    color: #2c2e75;
    /* box-shadow: 0 0 0 3px rgba(59,112,239,.3); */
    border-radius: 18px;
    top: -961px;
    
  }
  
  
  @media (max-width: 1000px){
    
    .timeline{
      width:100%;
    }
  }
  
  @media (max-width: 767px){
    .timeline{
      width:100%;
    }
    .timeline:before{
      left:20px;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even){
      width:100%;
      text-align:left;
     padding-left:50px; 
    }
    
    .timeline ul li:nth-child(odd):before
      {
      top:-18px;
      left:16px;
    
    }
    .timeline ul li:nth-child(even):before
    { 
      top:-18px;
      left:16px;
    }
    
      .timeline ul li:nth-child(odd) .left_content,
    .timeline ul li:nth-child(even) .left_content
    {
      top:-30px;
      left:50px;
      right:inherit;
    }
   
    
  }
  .footer_bottom_Secton_top
  {
    
    margin-top:-52px;
  }
