.thematic_breadcrumb {
    padding-left: 7.041667vw !important;
}

.thematic_first_section {
    .minister_images_g20_thematic_page {
        border-radius: 1.953125vw;
        margin-right: 1.953125vw;
        width: 100%;
    }

    .thematic_descrptn_box {
        p:nth-child(1) {
            padding-top: 1.5625vw;
        }
    }
}

.gradient_container_image_lotus_left_thematic_page {
    background: url(../images/lotus-2.webp) no-repeat;
    background-position: -47% 8%;
    background-size: 48.5vw;
    position: relative;
}