.about {
    &_section {
        .about_blocks_row {
            @include flexbox();

            .first_col,
            .second_col,
            .third_col {
                width: 27.083333333333332vw; //520px
            }

            .second_col {
                margin-left: 5.208333333333334vw; //100px
                margin-right: 5.208333333333334vw; //100px 
            }
        }
    }

    &_cards {
        padding: 2.604166666666667vw; //50px
        @include border-radius(1.5625vw); //30px
        @include box-shadow(0, 0, 50px, rgba(0, 0, 0, 0.1));
        background-color: $base-light-color;
        position: relative;
        overflow: hidden;

        h5 {
            margin-bottom: 1.5625vw; //30px

        }

        p {
            margin-bottom: 0;
            position: relative;
        }

        a {
            text-decoration: underline;
            margin-top: 1.0416666666666665vw; //20px
            display: inline-block;
        }

        &::before {
            content: '';
            position: absolute;
            background: url('../images/lotus-vector-orange.svg') no-repeat;
            opacity: 0.15;
            width: 13.583333333333334vw; //280px
            height: 13.583333333333334vw; //280px
            background-size: 100%;
            right: -5.6875vw; //90px
            bottom: -5.6875vw; //90px
            /* -webkit-animation: spin 15s linear infinite;
            -moz-animation: spin 15s linear infinite;
            animation: spin 15s linear infinite; */
        }

        &_1 {
            &::before {
                background: url('../images/lotus-vector-orange.svg') no-repeat;
                background-size: 100%;
            }
        }

        &_2 {
            &::before {
                background: url('../images/lotus-vector-green.svg') no-repeat;
                background-size: 100%;
            }
        }

        &_3 {
            &::before {
                background: url('../images/lotus-vector-grey.svg') no-repeat;
                background-size: 100%;
                opacity: 1;
            }
        }
    }

    @media screen and (min-width: 1920.98px) {
        &_section {
            .about_blocks_row {

                .first_col,
                .second_col,
                .third_col {
                    width: 520px;
                }

                .second_col {
                    margin-left: 100px;
                    margin-right: 100px;
                }
            }
        }

        &_cards {
            @include border-radius(30px);

            padding: 50px;

            &::before {
                width: 280px;
                height: 280px;
            }

            h5 {
                margin-bottom: 30px;
            }

            a {
                margin-top: 20px;
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        &_section {
            .about_blocks_row {
                display: block;

                .first_col,
                .second_col,
                .third_col {
                    width: 100%; //520px
                }

                .second_col {
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }

        &_cards {
            padding: 30px;
            @include border-radius(10px);

            h5 {
                margin-bottom: 20px;
            }

            a {
                margin-top: 15px
            }
        }
    }

    @media screen and (max-width: 767.98px) {
        &_cards {
            &::before {
                width: 150px;
                height: 150px;
            }
        }
    }
}