.banner_video_wrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        height: 250px;
        width: 100%;
        z-index: 2;
    }

    video {
        min-width: 100%;
        min-height: 100vh;
    }

    .shade_1,
    .shade_2,
    .shade_3 {
        width: 500px;
        height: 500px;
        background-color: $website-brand-color;
        filter: blur(300px);
        position: absolute;
        left: -250px;
        top: -250px;
        z-index: 1;
        opacity: 0.6;
    }

    .shade_2 {
        background-color: $base-font-color;
        left: 50%;
        margin-left: -250px;
        top: -250px;
    }

    .shade_3 {
        background-color: $website-brand-color-2;
        left: auto;
        right: -250px;
        margin-left: -250px;
        top: auto;
        bottom: -250px;
    }
}

.banner_section {
    background-size: cover;
    position: relative;
    padding: 185px 0 0;
    overflow: hidden;
    background-repeat: no-repeat;

    .unmute_button {
        background-color: rgba(255, 255, 255, 0.1);
        background-image: url("../images/unmute.svg");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;

        @include border-radius(50px);

        background-size: 50%;
        background-position: center center;
        position: absolute;
        right: 50px;
        bottom: 0;
        cursor: pointer;

        @extend .transition;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);

            @extend .transition;
        }

        &.mute_button {
            background-image: url("../images/mute.svg");
        }
    }

    .video_play_wrapper {
        display: flex;
        justify-content: center;
        position: static;
        margin-left: auto;
        margin-top: auto;
    }

    h1 {
        margin-bottom: 50px;
    }

    h6 {
        margin-top: 20px;
    }

    .container {
        position: relative;
        z-index: 3;
    }

    @media screen and (max-width: 1440px) {
        padding-top: 100px;

        p {
            margin-bottom: 20px;
        }

        h1 {
            margin-bottom: 40px;
        }

        h6 {
            margin-top: 10px;
        }

        .shade_1,
        .shade_2,
        .shade_3 {
            width: 250px;
            height: 250px;
            filter: blur(200px);
            left: -100px;
            top: -100px;
        }

        .shade_2 {
            left: 50%;
            margin-left: -100px;
            top: -100px;
        }

        .shade_3 {
            left: auto;
            right: -100px;
            margin-left: -100px;
            top: auto;
            bottom: -100px;
        }
    }

    @media screen and (max-width: 1199.98px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 767.98px) {
        h1 {
            margin-bottom: 20px;
        }

        .video_play_wrapper {
            margin-top: 70px;
        }

        .unmute_button {
            right: 20px;
            top: -55px;
        }
    }
}
