.banner {
    &_section {
        position: relative;
        margin-top: 8.854166666666668vw;

        .owl-item {

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: -5.989583333333334vw; //115px
                top: -2.604166666666667vw; //50px
                width: 26.041666666666668vw; //500px
                height: 26.041666666666668vw; //500px
                background-color: $brand-color;
                border-radius: 100%;
                filter: blur(200px);
            }

            &::before {
                left: auto;
                top: auto;
                bottom: -2.604166666666667vw; //50px
                right: -5.989583333333334vw; //115px
                background-color: $brand-color-2;
            }
        }

        .item {
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }

            &.last_slide {
                &::before {
                    display: none;
                }
            }
        }
    }

    &_content_overlay {
        @include flexbox;

        height: 100%;
        width: 100%;
        padding: 0 6.25vw; // 0 120px
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        top: 0;
        left: 0;
        color: $base-light-color;
        z-index: 1;

        &::before,
        &::after {
            content: '';
            background-image: url("../images/lotus-vector-green.svg");
            background-repeat: no-repeat;
            width: 12.5vw; //240px
            height: 12.5vw; //240px;
            background-size: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            opacity: 0.2;
            // -webkit-animation: spin 25s linear infinite;
            // -moz-animation: spin 25s linear infinite;
            // animation: spin 25s linear infinite;
        }

        &::before {
            background-image: url("../images/lotus-vector-orange.svg");
            right: auto;
            bottom: auto;
            left: 0;
            top: 0;
        }

        h5,
        h1,
        .outline_button {
            position: relative;
        }

        h5 {
            margin-bottom: 1.0416666666666665vw; //20px

        }

        h1 {
            margin-bottom: 2.604166666666667vw; //50px

        }
    }

    /* width: 100%;
    height: 735px;
    background-image: url("../images/banner/Bannerbanner.png");
    background-size: contain;
    background-repeat: no-repeat; */

    @media screen and (min-width: 1920.98px) {
        &_section {
            .owl-item {

                &::before,
                &::after {
                    left: 115px;
                    top: 50px;
                    width: 500px;
                    height: 500px;
                    filter: blur(200px);
                }

                &::before {
                    bottom: 50px;
                    right: 115px;
                }
            }
        }

        &_content_overlay {
            padding: 0 80px;

            h5 {
                margin-bottom: 20px;
            }

            h1 {
                margin-bottom: 50px;
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        &_section {
            margin-top: 118px;

            .owl-item {

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: -30px;
                    top: -30px;
                    width: 150px;
                    height: 150px;
                    filter: blur(100px);
                }

                &::before {
                    bottom: -30px;
                    right: -30px;
                }
            }
        }

        &_content_overlay {
            padding: 0 30px; // 0 80px
        }
    }

    @media screen and (max-width: 767.98px) {
        &_content_overlay {
            h1 {
                font-size: 20px;
            }

            h5 {
                font-size: 12px;
                margin-bottom: 0;
            }

            .outline_button {
                padding: 5px 10px;
            }
        }
    }
}