.events {
    &_section {
        padding-bottom: 6.25vw; //120px
        .section_heading {
            margin-bottom: 3.6458333333333335vw; //70px
       
        }
    }

    &_selected {
        margin-bottom: 20px;
        position: relative;
        z-index: 1;

        &_content_overlay {
            position: absolute;
            bottom: 0;
            padding: 5.208333333333334vw 2.604166666666667vw 2.604166666666667vw; //100px 50px 50px
            // @include gradient(rgba(0,0,0,1), rgba(0,0,0,0));
            background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

            @include flexbox;

            .selected_event_content {
                color: $base-light-color;
                width: calc(100% - 250px);

                h2 {
                    margin-bottom: 1.0416666666666665vw; //20px
               
                }

                p {
                    margin-bottom: 0;
                }
            }

            .selected_event_date {
                padding: 1.04167vw; //20px;
                background-color: rgba(255, 255, 255, 0.5);
                color: $base-font-color;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    &_card {
        @include border-radius(1.5625vw); //30px
        @include box-shadow(0, 0, 50px, rgba(0, 0, 0, 0.1));

        background-color: $base-light-color;

        &_image {
            @include border-radii(1.5625vw, 1.5625vw, 0, 0);

            overflow: hidden;
        }

        &_content {
            padding: 1.0416666666666665vw; //20px

            h5 {
                margin-bottom: 1.0416666666666665vw; //20px
                padding-bottom: 0;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 5.729166666666666vw; //110px
                    height: 0.26041666666666663vw; //5px
                    background-color: $brand-color;
                    bottom: -1.0416666666666665vw; //20px
               
                }
            }

            p {
                margin-bottom: 0;
                padding-top: 1.0416666666666665vw; //20px;
           
            }
        }
    }

    @media screen and (min-width: 1920.98px) {
        &_section {
            .section_heading {
                margin-bottom: 70px;
            }
        }

        &_card {
            @include border-radius(30px);
        }

        &_selected {
            &_content_overlay {
                padding: 100px 50px 50px;

                .selected_event_content {
                    h2 {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        &_content {
            padding: 20px;

            h5 {
                margin-bottom: 20px;

                &::before {
                    width: 110px;
                    height: 5px;
                    bottom: -20px;
                }
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        &_section {
            padding-bottom: 50px;

            .section_heading {
                margin-bottom: 30px;
            }
        }

        &_card {
            @include border-radius(10px); //30px

            &_image {
                @include border-radii(10px, 10px, 0, 0);
            }

            &_content {
                padding: 20px;
    
                h5 {
                    margin-bottom: 15px;
                }
            }
       
        } 
    }

    @media screen and (max-width: 767.98px) {
        &_selected {
            display: none;
        }
    }
}
