.logos {
    &_section {}

    &_stripe {
        padding: 5.208333333333334vw; //100px
        @include border-radius(1.5625vw); //30px
        @include box-shadow(0, 0, 50px, rgba(0, 0, 0, 0.1));
        @include flexbox();
        justify-content: space-between;

        img {
            height: 4.6875vw;
        }
    }

    @media screen and (min-width: 1920.98px) {
        &_stripe {
            padding: 100px;

            @include border-radius(30px);

            img {
                height: 90px;
            }
        }
    }
}
