.members {
    &_section {
        background-color: $base-light-grey;
        padding-top: 6.25vw; //120px
        padding-bottom: 6.25vw; //120px
        text-align: center;

        &_heading_content {
            width: 70%;
            margin: 0 auto;

            h2 {
                margin-bottom: 1.5625vw; //30px
           
            }

            p {
                font-size: 1.3541666666666667vw; //26px
           
            }
        }
    }

    &_flag {
        list-style: none;

        @include flexbox;

        flex-wrap: wrap;

        li {
            flex: 0 0 14.28%;
            width: 14.28%;
            padding: 2.083333333333333vw; //40px
            border: solid 1px $border-color;

            a {
                color: $base-font-color;
                display: block;

                h5 {
                    margin-top: 0.78125vw; //15px
               
                }
            }

            img {
                height: 4.6875vw; //90px
           
            }
        }
    }

    @media screen and (min-width: 1920.98px) {
        &_section {
            &_heading_content {
                h2 {
                    margin-bottom: 30px;
                }

                p {
                    font-size: 26px;
                }
            }
        }

        &_flag {
            li {
                padding: 40px;

                a {
                    h5 {
                        margin-top: 15px;
                    }
                }

                img {
                    height: 90px;
                }
            }
        }
    }
}