.members {
    &_section {
        background-color: #fcefdf;
        padding-top: 6.25vw; //120px
        padding-bottom: 6.25vw; //120px
        text-align: center;
        position: relative;
        overflow: hidden;

        &_heading_content {
            width: 100%;
            margin: 0 auto;

            h2 {
                margin-bottom: 1.5625vw; //30px

            }

            p {
                font-size: 1.3541666666666667vw; //26px
            }
        }

        &::before,
        &::after {
            content: '';
            background: url('../images/lotus-2.png') no-repeat;
            background-size: 100%;
            width: 46.875vw; //900px
            height: 46.875vw; //900px
            position: absolute;
            bottom: -23.4375vw;
            left: -23.4375vw;
        }

        &::after {
            bottom: -23.4375vw;
            left: auto;
            right: -23.4375vw;
        }
    }

    &_flag {
        list-style: none;

        @include flexbox;

        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        li {
            flex: 0 0 14.28%;
            width: 14.28%;
            padding: 2.083333333333333vw; //40px
            border: solid 1px $border-color;
            background-color: $base-light-color;

            a {
                color: $base-font-color;
                display: block;

                h5 {
                    margin-top: 0.78125vw; //15px
                    font-size: 1.0416666666666665vw; //20px
                    padding-bottom: 0;
                }

                &:hover {
                    // @include scale(1.1);
                    // @include box-shadow(0, 0, 30px, rgba(0, 0, 0, 0.1));
                    // @extend .transition;
                    z-index: 1;
                }
            }

            img {
                height: 4.6875vw; //90px

            }
        }
    }

    @media screen and (min-width: 1920.98px) {
        &_section {
            &_heading_content {
                h2 {
                    margin-bottom: 30px;
                }

                p {
                    font-size: 26px;
                }
            }
        }

        &_flag {
            li {
                padding: 40px;

                a {
                    h5 {
                        margin-top: 15px;
                        font-size: 20px;
                    }
                }

                img {
                    height: 90px;
                }
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        &_section {
            padding-top: 50px;
            padding-bottom: 50px;

            &_heading_content {
                width: 100%;

                h2 {
                    margin-bottom: 20px;

                }

                p {
                    font-size: 16px;
                }
            }
        }

        &_flag {

            li {
                flex: 0 0 20%;
                width: 20%;

                a {
                    padding: 20px;

                    h5 {
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }

                img {
                    height: 30px;
                }
            }
        }
    }

    @media screen and (max-width: 767.98px) {
        &_flag {

            li {
                flex: 0 0 33.33%;
                width: 33.33%;

                a {
                    padding: 20px;

                    h5 {
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }

                img {
                    height: 30px;
                }
            }
        }
    }
}