.minister {
    /* width: 100%;
    top: 904px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 80px;
    background-image: url("../images/ministersection/ministertop.png");
    background-repeat: no-repeat;
    background-size: contain; */

    &_Section {
        padding-bottom: 6.25vw;     //120px 

        .ministers_row {
            @include flexbox();
        }

        .minister_first_col {
            width: 59.375vw;        //1140px
            margin-right: 5.208333333333334vw;      //100px
        }
        .minister_second_col {
            width: 27.083333333333332vw;        //520px
        }
    }

    &_card {
        @include border-radius(1.5625vw); //30px
        @include box-shadow(0, 0, 50px, rgba(0, 0, 0, 0.1));

        background-color: $base-light-color;
        position: relative;
        z-index: 1;

        &_image {
            @include border-radii(1.5625vw, 1.5625vw, 0, 0);

            overflow: hidden;
            position: relative;
        }

        &_content {
            padding: 2.604166666666667vw; //50px

            h2 {
                margin-bottom: 1.0416666666666665vw; //20px
           
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (min-width: 1920.98px) {
        &_Section {
            padding-bottom: 120px;
            .minister_first_col {
                width: 1140px;
                margin-right: 100px;
            }
            .minister_second_col {
                width: 520px;
            }
        }

        &_card {
            @include border-radius(30px); //30px

            &_content {
                padding: 50px;

                h2 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
