.minister {
    /* width: 100%;
    top: 904px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 80px;
    background-image: url("../images/ministersection/ministertop.png");
    background-repeat: no-repeat;
    background-size: contain; */

    &_Section {
        .col_8 {
            padding-right: 2.60417vw;
        }

        .col_4 {
            padding-left: 2.60417vw;
        }
    }

    &_card {
        @include border-radius(1.5625vw); //30px
        @include box-shadow(0, 0, 50px, rgba(0, 0, 0, 0.1));

        &_image {
            @include border-radii(1.5625vw, 1.5625vw, 0, 0);

            overflow: hidden;
        }

        &_content {
            padding: 2.604166666666667vw; //50px

            h2 {
                margin-bottom: 1.0416666666666665vw; //20px
           
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (min-width: 1920.98px) {
        &_Section {
            .col_8 {
                padding-right: 50px;
            }

            .col_4 {
                padding-left: 50px;
            }
        }

        &_card {
            @include border-radius(30px); //30px

            &_content {
                padding: 50px;

                h2 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}